<style>
  body { Font-size: 12px !important; }
</style>

<div class="menu sticky-bottom fixed-bottom center">
  <div class="menu-details mt-3">

     <!-- Home button -->
     <div class="container menutext">
      <% if current_page?(pingpong_tables_path) %>
        <%= link_to "", pingpong_tables_path, class: "fa-solid fa-house", style: "color: #396BEE" %>
      <% else %>
        <%= link_to "", pingpong_tables_path, class: "fa-solid fa-house" %>
      <% end %>

      <% if current_page?(pingpong_tables_path) %>
        <p class="menutext-current">Home</p>
      <% else %>
        <p>Home</p>
      <% end %>
    </div>

    <!-- Reservation button -->
    <div class="container menutext">
      <% if current_page?(reservations_path) %>
        <%= link_to "", reservations_path, class: "fa-regular fa-calendar-check", style: "color: #396BEE" %>
      <% else %>
        <%= link_to "", reservations_path, class: "fa-regular fa-calendar-check" %>
      <% end %>

      <% if current_page?(reservations_path) %>
        <p class="menutext-current">Reservation</p>
      <% else %>
        <p>Reservation</p>
      <% end %>
    </div>

    <!-- Match button -->
    <div class="container menutext">
      <% if current_page?(matches_path) %>
        <%= link_to "", matches_path, class: "fa-solid fa-table-tennis-paddle-ball", style: "color: #396BEE" %>
      <% else %>
        <%= link_to "", matches_path, class: "fa-solid fa-table-tennis-paddle-ball" %>
      <% end %>

      <% if current_page?(matches_path) %>
        <p class="menutext-current">Match</p>
      <% else %>
        <p>Match</p>
      <% end %>
    </div>

    <!-- Profile button -->
    <div class="container menutext">
      <% if current_page?(my_profile_path) %>
        <%= link_to "", my_profile_path, class: "fa-solid fa-user", style: "color: #396BEE" %>
      <% else %>
        <%= link_to "", my_profile_path, class: "fa-solid fa-user" %>
      <% end %>

      <% if current_page?(my_profile_path) %>
        <p class="menutext-current">Profile</p>
      <% else %>
        <p>Profile</p>
      <% end %>
    </div>
    
  </div>
</div>
