<div class="menu sticky-bottom fixed-bottom">
  <div class="menu-details">
    <%= link_to "", pingpong_tables_path, class: "fa-solid fa-house fa-lg" %>
    <%= link_to "", pingpong_tables_path, class: "fa-regular fa-calendar-check fa-lg" %>
    <%= link_to "", pingpong_tables_path, class: "fa-sharp fa-solid fa-qrcode fa-lg"%>
    <%= link_to "", matches_path, class: "fa-solid fa-table-tennis-paddle-ball fa-lg" %>
    <%= link_to "", pingpong_tables_path, class: "fa-solid fa-user fa-lg" %>
    <!-- for ranking :) <%= link_to "", pingpong_tables_path, class: "fa-solid fa-ranking-star" %> -->
  </div>
</div>
