<div data-controller="match container">
  <div class="container d-flex justify-content-between mt-3">
    <h5 class="button--category--match">My matches</h5>
  </div>

  <% if @my_matches.empty? %>
    <div class="container ">
      <h5 class="gray--text">No matches yet</h5>
    </div>
  <% else %>

    <section class="slider-wrapper">
      <ul class="slides-container" id="slides-container">
        <%# <% each_slice(2) do |match_pair| %>
          <li class="slide flex-row justify-content-space-around">
            <% @my_matches.each do |match| %>
              <div class="matches--organised">
                <div class="m-1">
                  <div class="user--photo img d-flex align-items-center m-1 justify-content-space-around ">
                    <%= image_tag "profile.png" , style: 'height:50px;width:50px;border-radius:50%;margin:5px;'%>
                    <p><%= current_user.nickname %></p>
                  </div>
                  <div class="title ms-3">
                    <p class="title--match"><%= match.name %></p>
                    <div>
                      <p class="mb-0">🗓️ <%= match.match_time.strftime("at %H:%M, %A,")%></p>
                      <p class="mt-0"><%= match.match_time.strftime("%e %B %Y ") %></p>
                      <p class="mb-2">📍<%= match.location %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <%# <% end %>
      </ul>
    </section>

  <% end %>

  <div class="container d-flex justify-content-between mt-2">
    <h1 class="button--category--match">Joined Matches</h1>
  </div>

  <% if @my_games.empty? %>
    <div class="container">
      <h5 class="gray--text">No joined games yet</h5>
    </div>
  <% else %>
    <section class="slider-wrapper">
      <ul class="slides-container" id="slides-container">
        <%# <% @my_matches.each_slice(2) do |match_pair| %>
          <li class="slide d-flex flex-row justify-content-space-around">
            <% @my_games.each do |match| %>
              <div class="matches--joined">
                <div class="m-1">
                  <div class="user--photo img d-flex align-items-center m-1 justify-content-space-around">
                    <%= image_tag "profile.png" , style: 'height:70px;width:70px;border-radius:50%;margin:5px;'%>
                      <p><%= current_user.nickname %></p>
                  </div>
                  <div class="title ms-3">
                    <p class="title--match"><%= match.name %></p>
                    <div>
                      <p class="mb-0">🗓️ <%= match.match_time.strftime("at %H:%M, %A,")%></p>
                      <p class="mt-0"><%= match.match_time.strftime("%e %B %Y ") %></p>
                      <p class="mb-2">📍<%= match.location %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            </li>
          <%# <% end %>
      </ul>
    </section>
  <% end %>
</div>
