<div data-controller="match">
  <div class="container d-flex justify-content-between">
    <p>My organized Games</p>
  </div>

  <% if @my_matches.nil? %>
    <div class="container">
      <h5 style="color:gray">No matches yet</h5>
    </div>
  <% else %>
    <div class="matches-organised">
      <div class="container d-flex justify-content-space-around">
        <div class="user--photo img">
          <%= image_tag "profile.png" , style: 'height:70px;width:70px;border-radius:50%;'%>
        </div>

        <div class="title" style="color: white">
          <% @my_matches.each do |match| %>
            <h3><%= match.name %></h3>
            <div>
              <p><%= match.location %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container d-flex justify-content-between mt-2">
    <p>My joined Games</p>
  </div>

  <% if @my_games.nil? %>
    <div class="container">
      <h5 style="color:gray">No joined games yet</h5>
    </div>
  <% else %>
    <div class="matches-joined">
      <div class="container d-flex justify-content-space-around">
        <div class="user--photo img">
          <%= image_tag "profile.png" , style: 'height:70px;width:70px;border-radius:50%;'%>
        </div>

        <div class="title">
          <% @my_games.each do |match| %>
            <h3><%= match.name %></h3>
            <div>
              <p><%= match.location %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
