<div data-controller="match container">
  <div class="container d-flex justify-content-between mt-3">
    <h5 class="more--mymatches">My organized matches</h5>
  </div>

  <% if @my_matches.empty? %>
    <div class="container ">
      <h5 class="gray--text">No matches yet</h5>
    </div>
  <% else %>

    <section class="slider-wrapper">
      <ul class="slides-container" id="slides-container">
        <%# <% each_slice(2) do |match_pair| %>
          <li class="slide flex-row justify-content-space-around">
            <% @my_matches.each do |match| %>
              <div class="matches--organised">
                <div class="m-1">
                  <div class="user--photo center m-2">
                    <%= image_tag "profile.png" , style: 'height:50px;width:50px;border-radius:50%;margin:5px;'%>
                    <!-- <p><%= current_user.nickname %></p> -->
                  </div>

                  <div class="more-matches-content center">
                    <p class="mb-2"><%= match.name %></p>
                    <p class="mb-2"><%= image_tag "calendar.png", {height: 20} %> <%= match.match_time.strftime("%b %d %Y, %I:%M %P")%></p>
                    <p class="mb-2"><%= image_tag "location.png", {height: 20} %> <%= match.location %></p>
                  </div>

                </div>
              </div>
            <% end %>
          </li>
        <%# <% end %>
      </ul>
    </section>

  <% end %>

  <div class="container d-flex justify-content-between mt-1">
    <h1 class="more--joinedmatches">Joined Matches</h1>
  </div>

  <% if @my_games.empty? %>
    <div class="container">
      <h5 class="gray--text">No joined games yet</h5>
    </div>
  <% else %>
    <section class="slider-wrapper">
      <ul class="slides-container" id="slides-container">
        <%# <% @my_matches.each_slice(2) do |match_pair| %>
          <li class="slide d-flex flex-row justify-content-space-around">
            <% @my_games.each do |match| %>
              <div class="matches--joined">
                <div class="m-1">
                  <div class="user--photo center m-2">
                    <%= cl_image_tag match.photo.key, style: 'height:60px;width:60px;border-radius:50%;'%>
                    <!-- <p><%= current_user.nickname %></p> -->
                  </div>

                  <div class="more-matches-content center">
                    <p class="mb-2"><%= match.name %></p>
                    <p class="mb-2"><%= image_tag "calendar.png", {height: 20} %> <%= match.match_time.strftime("%b %d %Y, %I:%M %P")%></p>
                    <p class="mb-2"><%= image_tag "location.png", {height: 20} %> <%= match.location %></p>
                  </div>
                </div>
              </div>
            <% end %>
            </li>
          <%# <% end %>
      </ul>
    </section>
  <% end %>
</div>
