
<div data-controller="match">
  <div class="matches flex ">
    <h1 class="fs18">My Matches</h1>
    <div class="pink">
      <a href="#"class="pink">More</a>

    </div>
  </div>




  <div class="match--card card">
    <h1 class="match--card--title">
            <%# if @my_favorite_tables.empty? %>
  <h1>No live matches</h1>
<%# else %>
    <div class="flex">
    <div class="user--photo img">
  <%= image_tag "profile.png" , style: 'height:70px;width:70px;border-radius:50%;'%>
  </div>
  <div class="title">
    <p>The fast&furious match- when Matteo add, we will change</p>
    <p>Date Matteo will add</p>

    <div class="address--table">
    <p> <%= @my_favorite_tables.first.pingpong_table.address %> </p>
  </div>

  </div>
  </div>
  <div class="flex">
    <div class="user--name">

    </div>

    

  </div>
      
      
 <%end%>

    </div>
  <div class="match--card">

  <div class="flex">
    <div class="avatar">

    </div>
    <div class="info--match">
      <%=  %>
    </div>
  </div>

  </div>
</div>

<div class="favorites flex ">
  <h1 class="fs18">My Favorite Tables</h1>
  <div class="pink">
  <p>More </p>
  </div>
</div>

<div class="grid mb-3">
  <% @my_favorite_tables.each do |favorite| %>
  <%= cl_image_tag favorite.pingpong_table.photo.key, height: 90, width: 90, crop: :fill, :radius => 50  %>
  <%# <h2><%= favorite.pingpong_table.name %>
  <%#= cl_image_tag @pingpong_table.photo.key, height: 150, width: 300, crop: :fill %>
  <% end %>

</div>
