<div>
  <!-- My Profile: My Matches -->
  <div class="container d-flex justify-content-between">
    <h5 class="text-mymatches mt-3">My Matches</h5>
    <%= link_to "More", my_profile_more_path, class: "text-more mt-3" %>
  </div>

  <div data-controller="match">
    <div class="container d-flex justify-content-between">
      <p class="text-organized mb-1">My organized Games</p>
    </div>
    <% if @my_most_recent_match.nil? %>
      <div class="container center">
        <h5 class="text-nothingyet">No matches yet</h5>
      </div>
    <% else %>
      <div class="matches-organised">
        <div class="match-card container d-flex center">
          <div>
            <%= image_tag "profile.png" , style: 'height:70px;width:70px;border-radius:50%;'%>
          </div>

          <div>
            <div class="match-title mt-3">
              <h5><%= @my_most_recent_match.name %></h5>
            </div>
            <div class="match-matchtime">
              <p><%= @my_most_recent_match.match_time.strftime("%b %d %Y, %H:%M %P") %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container d-flex justify-content-between mt-2">
    <p class="text-joined mb-1">My joined Games</p>
  </div>

  <% if @my_most_recent_game.nil? %>
    <div class="container center">
      <h5 class="text-nothingyet">No joined matches yet</h5>
    </div>
  <% else %>
    <div class="matches-joined">
      <div class="match-card container d-flex center">
        <div>
          <%= image_tag "joined.png" , style: 'height:70px;width:70px;border-radius:50%;'%>
        </div>

        <div>
          <div class="match-joined-title mt-3">
            <h5><%= @my_most_recent_game.name %></h5>
          </div>
          <div class="match-joined-matchtime">
            <p><%= @my_most_recent_game.match_time.strftime("%b %d %Y, %H:%M %P") %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>


  <!-- My Profile: My Favorite Tables -->
  <div class="container" data-controller="favorites">
    <div class="mt-3 d-flex justify-content-between">
      <% if !@my_favorite_tables.any? %>
        <div class="container p-0">
          <div class="container p-0 d-flex justify-content-space-between">
            <h5 class="text-favtables mt-5">My Favorite Tables</h5>
          </div>

          <div class="container center mt-3">
            <h5 class="text-nothingyet2">No favorite tables yet</h5>
          </div>
        </div>

      <% elsif @my_favorite_tables.length <= 3 %>
        <div class="container p-0">
          <div class="container p-0 d-flex justify-content-space-between">
            <h5 class="text-favtables mt-5">My Favorite Tables</h5>
          </div>

          <div class="container d-flex center">
            <% @my_favorite_tables.each do |favorite| %>
              <div class="container d-flex center mt-2">
                <%= link_to pingpong_table_path(favorite.pingpong_table) do %>
                  <%= cl_image_tag favorite.pingpong_table.photo.key, :class => 'favoritetable' %>
                  <p class="favtables-name center mt-1"><%= favorite.pingpong_table.name %> </p>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

      <% else %>
        <div>
          <div class="container p-0 d-flex justify-content-space-between">
              <h5 class="text-favtables mt-5">My Favorite Tables</h5>
              <p class="text-more mt-5" data-action="click->favorites#fire">More</p>
          </div>

          <div class="grid center justify-content-between">
            <% @my_favorite_tables[0..2].each do |favorite| %>
              <div class="center">
                <%= link_to pingpong_table_path(favorite.pingpong_table) do %>
                  <%= cl_image_tag favorite.pingpong_table.photo.key, :class => 'favoritetable' %>
                  <p class='favtables-name d-none center mt-1' data-favorites-target='firstText'><%= favorite.pingpong_table.name %> </p>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="grid mb-2 d-none center justify-content-between" data-favorites-target="togglableElement">
          <% @my_favorite_tables[3..@my_favorite_tables.length].each do |favorite| %>
            <div>
              <%= link_to pingpong_table_path(favorite.pingpong_table) do %>
              <%= cl_image_tag favorite.pingpong_table.photo.key, :class => 'favoritetable' %>
              <p class="favtables-name center mt-1"><%= favorite.pingpong_table.name %> </p>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
