<div class="card-reservation">
  <div class="container pt-4 pb-2">
    <h5 class="text-reservation mb-0"> Reach the table!</h5>
  </div>

  <!-- How long does it take to reach the table? -->
  <div data-controller="showmap"
  data-showmap-avatar-value="<%= image_path "profile.png"  %>"
  data-showmap-markers-value="<%= @marker.to_json %>">
  <div data-showmap-target= "time"></div>

  <!-- countdown 10min reservation timer -->
  <div class="centered-text m-2 timer" data-controller="timer" data-timer-target="timer">
  10:00
  </div>

  <!-- countdown bar -->
  <div class="container">
    <div class="timerbar mb-2">
      <div id="bar" class="bar" data-controller="timerbar" data-timer-target="timerbar"></div>
    </div>
  </div>

  <!-- navigation map -->
  <div class="container">
    <div class="navimap" id="map" style="width: 100%; height: 230px; position: relative">
    </div>
  </div>

  <!-- 2 buttons -->
  <div class="container">
    <div class="d-flex justify-content-between mt-3 mb-3">
      <button class="button--cancel center" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Cancel
      </button>
      <%= link_to "Read QR Code", read_pingpong_table_path(@pingpong_table.id, res:params[:id]), class: "button--qrcode center"%>
    </div>
  </div>
</div>


<!-- Modal popup for cancelling the reservation -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header", style="background-color:#FF00F5">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Back"></button>
    </div>
    <div class="modal-body text-center">
      <h3>Do you want to cancel this reservation?</h3>
    </div>
    <div class="details--select center mb-3">

      <%= link_to "Cancel", cancel_reservation_path(params[:id]), class: "button--cancel center", data: {turbo_method: :patch}  %>
    </div>
  </div>
</div>
</div>


<!-- Our hidden QR code :) -->
<div data-controller="accordionqr">
  <button data-accordionqr-target="accordion" class="accordion" style="color:#396BEE">QR</button>
  <div class="panel">
    <%= link_to "Start Game", play_pingpong_table_path(@pingpong_table.id, res:params[:id]), style: "color:black" %>
    <div class="qrcode">
      <%= @svg.html_safe %>
    </div>
  </div>
</div>
