<div class="container d-flex">
  <div>
    <h2>Ping it Match List</h2>
  </div>

  <div>
    <%=link_to "Create", new_match_path(@match), data: { turbo_method: "get"}, class: "button--seemore" %>
  </div>
</div>

<div>
  <ul>
    <% @matches.each do |match| %>
      <li><%= match.name %></li>
      <li><%= match.location %></li>
      <li><%= match.match_time %></li>
      <li><%= match.equipment %></li>
    <% end %>
  </ul>
</div>
