<div class="d-flex container justify-content-between mb-2">
  <h5 class="text-mymatches mt-3">Ping it Matches</h5>
  <%= link_to "Add", new_match_path, class: "text-more mt-3"%>
</div>


<% @matches.each do |match| %>
<div class="container">
  <% if current_user != match.organiser %>
    <div class="matches-joined">
  <% else %>
    <div class="matches-organised">
  <% end %>
  <div>
    <div class="match-card container d-flex center">
      <div>
        <% if current_user != match.organiser %>
          <%= cl_image_tag match.photo.key, style: 'height:60px;width:60px;border-radius:50%;'%>
        <% else %>
          <%= image_tag "profile.png" , style: 'height:60px;width:60px;border-radius:50%;'%>
        <% end %>
      </div>

        <% if current_user != match.organiser %>
          <div class="match-joined-title">
        <%else%>
          <div class="match-joined-title-white">
        <%end%>
        <h5><%= match.name %></h5>
          </div>
      </div>
      </div>
      <div class="details--last">
        <p class="mt-2"><%= match.match_time.strftime("%b %d %Y, %I:%M %P")%></p>
        <%= link_to "See more", match, class: "button--seemore"%>
      </div>
    </div>
  </div>
</div>
<% end %>
